{% extends 'base.html' %}

{% block content %}
    <form method="post">
        {% csrf_token %}
        <div class="row">
            <div class="col-3"></div>
            <div class="col-md-3">
                <div class="form-group required">
                    <label class='control-label'>File Name </label>
                    <span class="text-danger">*</span>
                    <input type="text" class="form-control" required name="file_name" id="id_file_name">
                    <small class="form-text text-muted">Enter a File Name </small>
                </div>
            </div>
            <div class="col-md-3">
                <div class="form-group required">
                    <label class='control-label'>Raw Count</label>
                    <span class="text-danger">*</span>
                    <input type="number" class="form-control" required name="raw_count" id="id_raw_count">
                    <small class="form-text text-muted">Enter a Number </small>
                </div>
            </div>
            <div class="col-3"></div>
        </div>
        <div style=" display: flex; justify-content: center;">
          <input type="submit" class="btn btn-primary" value="Submit">
        </div>
    </form>

{% endblock %}